.footer{
    background: url(../img/footer-bg.png) center center no-repeat;
    background-size: cover;
    margin-top: 30px;
    overflow: hidden;

    @include tablets{
        padding-bottom: 280px;
        position: relative;
    }

    .container{
        align-items: flex-start;

        @include notebook{
            padding: 0 15px;
        }

        @include tablets{
            position: initial;
        }
    }

    .menu-block{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.logo-block{
    position: relative;
    display: flex;
    flex-direction: column;

    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 1000%;
        left: -1000%;
        top: 0;
        height: 100%;
        background-color: $orange-bg-rgba;

        @include tablets{
            display: none;
        }
    }

    .logo{
        display: block;
        padding: 35px 0 0;
        width: 133%;
        background: linear-gradient( 70deg, $orange-bg-rgba 87.6%, transparent 87.8%) no-repeat right top / cover;

        @include tablets{
            background: transparent;
        }
    }

    .logo-block__descr{
        background: linear-gradient(107deg, rgba(255, 126, 0, 0.8) 75.6%, transparent 75.8%) no-repeat right top/cover;
        width: 140%;
        padding-top: 50px;
        height: 233px;

        @include notebook{
            height: 330px;
            width: 133%;
            background: linear-gradient(107deg, rgba(255, 126, 0, 0.8) 72.6%, transparent 72.8%) no-repeat right top/cover;
        }

        &:before{

            @include tablets{
                content: '';
                display: block;
                position: absolute;
                width: 1000%;
                left: -1000%;
                top: 0;
                height: 100%;
                background-color: $orange-bg-rgba;
            }
        }

        @include tablets{
            background: $orange-bg-rgba;
            position: relative;
            width: 100%;
            text-align: right;
            height: auto;
            padding: 30px 30px 30px 0;
            margin-top: 40px;
        }
    }

    .contact__descr{
        font-size: 14px;
    }

    .contact__link{
        font-size: 18px;
        margin: 10px 0 100px;
        display: block;

        @include tablets{
            margin-bottom: 0;
        }
    }
}

.menu-footer{
    padding-top: 35px;

    @include notebook{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }
    
    .menu__link{
        font-size: 24px;
        color: $white;
        text-transform: uppercase;
        text-decoration: underline;
        padding-right: 0;
        padding-left: 60px;

        @include notebook{
            padding-bottom: 20px;
        }

        &:hover{
            text-decoration: none;
        }
    }
}

.social{
    padding: 50px 0 70px;
    display: flex;

    &--footer{

        @include notebook{
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @include tablets{
            position: absolute;
            left: 50%;
            margin-left: -190px;
            top: 290px;
            padding: 0 0 50px;
        }
    }

    &__link{
        padding-left: 20px;
        display: block;
    }
}

.cookies{
    text-align: right;
    padding-left: 130px;
    padding-bottom: 20px;

    @include tablets{
        position: absolute;
        bottom: 30px;
        text-align: center;
        padding: 0 20px;
        width: 100%;
        left: 50%;
        margin-left: -245px;
        max-width: 490px;
    }
}