.hero{
    background: url(../img/hero-bg.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;

    @include tablets{
        min-height: auto;
        padding: 0 20px;
    }
}