.service-bg__wrap{
    background-color: $lightgray-bg;
}

.service-bg{
    background-color: $lightgray-bg;
    padding: 30px 0;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;

    @include notebook{
        padding-top: 0;
    }

    &:last-of-type{
        margin-bottom: 0;
    }
}

.service{
    background-color: $white;

    &__wrap{
        display: flex;

        @include notebook{
            flex-direction: column-reverse;

            .container{
                align-items: center;
            }
        }

        &--reverse{

            @include notebook{
                flex-direction: column;
            }
        }
    }

    &__descr-wrap{
        max-width: 45%;

        @include notebook{
            max-width: 95%;
            background: rgba(255, 255, 255, .8);
            padding: 0 15px;
            margin-top: -125px;
            z-index: 10;

            .second-title{
                text-align: center;
            }
        }
    }

    &__descr{
        color: $gray-text;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
    }

    &__img{
        position: absolute;
        right: 0;
        max-width: 50%;
        top: 0;
        display: block;

        @include notebook{
            display: none;
        }

        &--reverse{
            right: auto;
            left: 0;
        }

        &--mob{
            display: none;

            @include notebook{
                display: block;
                position: relative;
                max-width: none;
                width: 100%;
            }
        }
    }
}