$white: #ffffff;
$black: #000000;

$gray-text: #6a6a6a;
$gray-bg: #616f7b;
$gray-bg-rgba: rgba(97, 111, 123, .8);

$lightgray: #c0c0c0;
$lightgray-bg: #ebebeb;

$orange-text: #fa982d;
$orange-bg: #c46907;
$orange-bg-rgba: rgba(255, 126, 0, .8);

$darkblue: #353535;
